body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: #bbada0;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
}

.cell {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: #cdc1b4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

#score {
    font-size: 24px;
    margin-bottom: 10px;
}

#game-over-message {
    font-size: 36px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: #4CAF50; /* 绿色背景 */
    border: none;
    color: white; /* 白色文字 */
    padding: 10px 20px; /* 内边距 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* 适中字体大小 */
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px; /* 圆角边框 */
}

#restart-button {
    position: relative;
    top: 10px; /* 距离顶部 10px */
    left: 50%; /* 居中 */
    transform: translateX(-50%); /* 确保按钮居中 */
}

#up-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#down-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left-button {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#right-button {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
